/* CSS declarations go here */
body{
	font-family: "Amatic SC",Futura,Helvetica,arial,freesans,clean,sans-serif;
    color: #222;
}
html {
	background-color:#faf0e6;
}
body {
	min-width: 870px;
}
/* Awesome full height div without js */
html, body {
	height: 100%;
}
.navbar .gravatar{
	width:40px;
	height:40px;
}
#map {
	height:100%;
	width:100%;
}
#map .leaflet-control-zoom{
	margin-top: 50px;
}
#map .leaflet-marker-icon{
	  -webkit-transform: rotateX( 45deg );
         -moz-transform: rotateX( 45deg );
           -o-transform: rotateX( 45deg );
              transform: rotateX( 45deg );
}