body {
	overflow: hidden;
	background-color:#000;
	color: #222;
}
html, body, #map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
}
.navbar .brand {
	float: right;
}
.navbar .gravatar {
	width:40px;
	height:40px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{ /* override bootstrap responsive */
	margin-left: 0;
	margin-right:0;
}
.leaflet-container .leaflet-control-zoom {
	margin-top: 50px;
}
.navbar-fixed-top {
	margin-bottom: 0;
}

/*#map .leaflet-marker-icon{
	  -webkit-transform: rotateX( 45deg );
         -moz-transform: rotateX( 45deg );
           -o-transform: rotateX( 45deg );
              transform: rotateX( 45deg );
}*/